<li>
  <input type="checkbox"
         [checked]="task.isCompleted"
         (change)="onToggle()">

  <!-- MODE NORMAL -->
  <span *ngIf="!isEditing"
        (dblclick)="startEdit()"
        [style.textDecoration]="task.isCompleted ? 'line-through' : 'none'">
    {{ task.title }}
  </span>
  <div *ngIf="task.description">
    <small>{{ task.description }}</small>
  </div>

  <!-- MODE EDITION -->
  <input *ngIf="isEditing"
         [(ngModel)]="editedTitle"
         (keyup.enter)="saveEdit()">

  <button *ngIf="isEditing" (click)="saveEdit()">💾</button>
  <button *ngIf="isEditing" (click)="cancelEdit()">❌</button>

  <button (click)="onDelete()">Supprimer</button>
</li>
